* {
  margin: 0;
  padding: 0;
}

header nav ul {
  list-style-type: none;
  display: flex;
  margin-left: 60%;
}

nav ul li a {
  text-decoration: none;
  padding-left: 0.5rem;
}

section {
  height: 100vh;
}
.container {
  display: flex;
  padding: 1rem;
}
article.karte {
  border-radius: 10px;
  border: 1px solid;
  padding: 0.5rem;
  margin: 2rem;
  text-align: center;
}
footer {
  height: 10rem;
  border-top: 0.125rem solid;
  color: rgb(180, 60, 13);
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
footer a {
  text-decoration: none;
  color: rgb(94, 29, 29);
}
footer img {
  border-radius: 50%;
}
